<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirme your account</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: center;
      }

      h1 {
        color: #404452;
        font-size: 35px;
      }

      p {
        font-size: 16px;
        color: #1a1a1a;
      }

      #confirmation-code {
        margin-top: 50px;
        font-size: 20px;
        font-weight: 600;
        color: #1a1a1a;
      }
    </style>
  </head>
  <body>
    <h1>Hello, @name!</h1>
    <p>
      You're very close to starting to use your newest appointment app. Now you just You need to
      enter the code below on the account confirmation screen to continue.
    </p>

    <p id="confirmation-code">@confirmation-code</p>
  </body>
</html>
